body {
    
}

#container {
    width: 400px;
    height: 600px;
    margin: 0px auto;
    clear:left;
}

/* määritellään kaavion sijainti sivulla */
#canvasContainer {
    margin: 0px auto;
    height: 400px;
    width: 400px;
    text-align: center;
}